{% extends "base.html" %}

{% block title %}
    Studio nagrań - Inżynierowie
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row py-1 py-sm-3">
            <div class="col text-light">
                <h2>
                    Inżynierowie
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <table class="table table-hover table-dark">
                    <thead>
                        <tr class="d-sm-table-row">
                            <th>
                                <div class="row">
                                    <div class="d-sm-none">
                                        Sortowanie
                                    </div>
                                    <div class="col-auto col-sm-2">
                                        <a href="?sort=IdInzyniera&order={% if sort_by == 'IdInzyniera' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            #
                                            {% if sort_by == 'IdInzyniera' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-4">
                                        <a href="?sort=Imie&order={% if sort_by == 'Imie' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            Imię
                                            {% if sort_by == 'Imie' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-4">
                                        <a href="?sort=Nazwisko&order={% if sort_by == 'Nazwisko' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            Nazwisko
                                            {% if sort_by == 'Nazwisko' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-sm-2 d-none d-sm-block">
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    {% for inzynier in inzynierowie %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-12 col-sm-2">
                                        <span class="d-inline d-sm-none"># </span>{{ inzynier.IdInzyniera }}
                                    </div>
                                    <div class="col-auto col-sm-4">
                                        {{ inzynier.Imie }}
                                    </div>
                                    <div class="col-auto col-sm-4">
                                        {{ inzynier.Nazwisko }}
                                    </div>
                                    <div class="col col-sm-2 align-self-end text-end">
                                        <a href="{{ url_for('inzynierowie.edytuj_inzyniera_view', id_inzyniera=inzynier.IdInzyniera) }}">Edytuj</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm pt-2">
                <a href="{{ url_for("inzynierowie.dodaj_inzyniera_view") }}"
                   class="btn btn-primary btn-block">Dodaj nowego
                Inżyniera</a>
            </div>

            <div class="col-12 col-sm d-flex justify-content-sm-end pt-2">
                <a href="{{ url_for("index") }}" class="btn btn-secondary btn-block">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}
