{% extends "base.html" %}

{% block title %}
    Studio nagrań - Sprzęt
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row py-1 py-sm-3">
            <div class="col text-light">
                <h2>
                    Sprzęt
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <table class="table table-hover table-dark">
                    <thead>
                        <tr class="d-sm-table-row">
                            <th>
                                <div class="row">
                                    <div class="col-12 d-sm-none">
                                        Sortowanie
                                    </div>
                                    <div class="col-auto col-sm-2">
                                        <a href="?sort=IdSprzetu&order={% if sort_by == 'IdSprzetu' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            #
                                            {% if sort_by == 'IdSprzetu' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-3">
                                        <a href="?sort=Producent&order={% if sort_by == 'Producent' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            Producent
                                            {% if sort_by == 'Producent' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-4">
                                        <a href="?sort=Model&order={% if sort_by == 'Model' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            Model
                                            {% if sort_by == 'Model' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-auto col-sm-3">
                                        <a href="?sort=Kategoria&order={% if sort_by == 'Kategoria' and order == 'asc' %}desc{% else %}asc{% endif %}"
                                           class="text-light text-decoration-none">
                                            Kategoria
                                            {% if sort_by == 'Kategoria' %}
                                                {% if order == 'asc' %}
                                                    ▲
                                                {% else %}
                                                    ▼
                                                {% endif %}
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    {% for sprzet in sprzety %}
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-6 col-sm-2">
                                        <span class="d-inline d-sm-none"># </span>{{ sprzet.IdSprzetu }}
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        {{ sprzet.Producent }}
                                    </div>
                                    <div class="col-6 col-sm-4">
                                        {{ sprzet.Model }}
                                    </div>
                                    <div class="col-6 col-sm-3">
                                        {{ sprzet.Kategoria }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm pt-2">
                <a href="{{ url_for("sprzet.dodaj_sprzet_view") }}"
                   class="btn btn-primary btn-block">Dodaj nowy sprzęt</a>
            </div>

            <div class="col-12 col-sm pt-2 d-flex justify-content-sm-end">
                <a href="{{ url_for("index") }}" class="btn btn-secondary btn-block">Powrót</a>
            </div>
        </div>
    </div>
{% endblock content %}
